<h1>HackDays</h1>
<div class="row">
	<div class= "span6 offset3">
		<% @hackdays.each do |hackday| %>
		<center>
			<p>
				<%= link_to hackday.name, hackday_hacks_path(hackday) %>
			</p>
		</center>
		<% end %>
	</div>
</div>
